<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs bluetooth for transffering data into device.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs bluetooth for transffering data into device.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs to access your location for prayer timings in in your area</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App needs to access your location for prayer timings in in your area</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs to access your location for prayer timings in in your area</string>
	<key>UIAppFonts</key>
	<array>
		<string>KSF_P001.ttf</string>
		<string>KSF_P002.ttf</string>
		<string>KSF_P003.ttf</string>
		<string>KSF_P004.ttf</string>
		<string>KSF_P005.ttf</string>
		<string>KSF_P006.ttf</string>
		<string>KSF_P007.ttf</string>
		<string>KSF_P008.ttf</string>
		<string>KSF_P009.ttf</string>
		<string>KSF_P010.ttf</string>
		<string>KSF_P011.ttf</string>
		<string>KSF_P012.ttf</string>
		<string>KSF_P013.ttf</string>
		<string>KSF_P014.ttf</string>
		<string>KSF_P015.ttf</string>
		<string>KSF_P016.ttf</string>
		<string>KSF_P017.ttf</string>
		<string>KSF_P018.ttf</string>
		<string>KSF_P019.ttf</string>
		<string>KSF_P020.ttf</string>
		<string>KSF_P021.ttf</string>
		<string>KSF_P022.ttf</string>
		<string>KSF_P023.ttf</string>
		<string>KSF_P024.ttf</string>
		<string>KSF_P025.ttf</string>
		<string>KSF_P026.ttf</string>
		<string>KSF_P027.ttf</string>
		<string>KSF_P028.ttf</string>
		<string>KSF_P029.ttf</string>
		<string>KSF_P030.ttf</string>
		<string>KSF_P031.ttf</string>
		<string>KSF_P032.ttf</string>
		<string>KSF_P033.ttf</string>
		<string>KSF_P034.ttf</string>
		<string>KSF_P035.ttf</string>
		<string>KSF_P036.ttf</string>
		<string>KSF_P037.ttf</string>
		<string>KSF_P038.ttf</string>
		<string>KSF_P039.ttf</string>
		<string>KSF_P040.ttf</string>
		<string>KSF_P041.ttf</string>
		<string>KSF_P042.ttf</string>
		<string>KSF_P043.ttf</string>
		<string>KSF_P044.ttf</string>
		<string>KSF_P045.ttf</string>
		<string>KSF_P046.ttf</string>
		<string>KSF_P047.ttf</string>
		<string>KSF_P048.ttf</string>
		<string>KSF_P049.ttf</string>
		<string>KSF_P050.ttf</string>
		<string>KSF_P051.ttf</string>
		<string>KSF_P052.ttf</string>
		<string>KSF_P053.ttf</string>
		<string>KSF_P054.ttf</string>
		<string>KSF_P055.ttf</string>
		<string>KSF_P056.ttf</string>
		<string>KSF_P057.ttf</string>
		<string>KSF_P058.ttf</string>
		<string>KSF_P059.ttf</string>
		<string>KSF_P060.ttf</string>
		<string>KSF_P061.ttf</string>
		<string>KSF_P062.ttf</string>
		<string>KSF_P063.ttf</string>
		<string>KSF_P064.ttf</string>
		<string>KSF_P065.ttf</string>
		<string>KSF_P066.ttf</string>
		<string>KSF_P067.ttf</string>
		<string>KSF_P068.ttf</string>
		<string>KSF_P069.ttf</string>
		<string>KSF_P070.ttf</string>
		<string>KSF_P071.ttf</string>
		<string>KSF_P072.ttf</string>
		<string>KSF_P073.ttf</string>
		<string>KSF_P074.ttf</string>
		<string>KSF_P075.ttf</string>
		<string>KSF_P076.ttf</string>
		<string>KSF_P077.ttf</string>
		<string>KSF_P078.ttf</string>
		<string>KSF_P079.ttf</string>
		<string>KSF_P080.ttf</string>
		<string>KSF_P081.ttf</string>
		<string>KSF_P082.ttf</string>
		<string>KSF_P083.ttf</string>
		<string>KSF_P084.ttf</string>
		<string>KSF_P085.ttf</string>
		<string>KSF_P086.ttf</string>
		<string>KSF_P087.ttf</string>
		<string>KSF_P088.ttf</string>
		<string>KSF_P089.ttf</string>
		<string>KSF_P090.ttf</string>
		<string>KSF_P091.ttf</string>
		<string>KSF_P092.ttf</string>
		<string>KSF_P093.ttf</string>
		<string>KSF_P094.ttf</string>
		<string>KSF_P095.ttf</string>
		<string>KSF_P096.ttf</string>
		<string>KSF_P097.ttf</string>
		<string>KSF_P098.ttf</string>
		<string>KSF_P099.ttf</string>
		<string>KSF_P100.ttf</string>
		<string>KSF_P101.ttf</string>
		<string>KSF_P202.ttf</string>
		<string>KSF_P103.ttf</string>
		<string>KSF_P104.ttf</string>
		<string>KSF_P105.ttf</string>
		<string>KSF_P106.ttf</string>
		<string>KSF_P107.ttf</string>
		<string>KSF_P108.ttf</string>
		<string>KSF_P109.ttf</string>
		<string>KSF_P110.ttf</string>
		<string>KSF_P111.ttf</string>
		<string>KSF_P112.ttf</string>
		<string>KSF_P113.ttf</string>
		<string>KSF_P114.ttf</string>
		<string>KSF_P115.ttf</string>
		<string>KSF_P116.ttf</string>
		<string>KSF_P117.ttf</string>
		<string>KSF_P118.ttf</string>
		<string>KSF_P119.ttf</string>
		<string>KSF_P120.ttf</string>
		<string>KSF_P121.ttf</string>
		<string>KSF_P122.ttf</string>
		<string>KSF_P123.ttf</string>
		<string>KSF_P124.ttf</string>
		<string>KSF_P125.ttf</string>
		<string>KSF_P126.ttf</string>
		<string>KSF_P127.ttf</string>
		<string>KSF_P128.ttf</string>
		<string>KSF_P129.ttf</string>
		<string>KSF_P130.ttf</string>
		<string>KSF_P131.ttf</string>
		<string>KSF_P132.ttf</string>
		<string>KSF_P133.ttf</string>
		<string>KSF_P134.ttf</string>
		<string>KSF_P135.ttf</string>
		<string>KSF_P136.ttf</string>
		<string>KSF_P137.ttf</string>
		<string>KSF_P138.ttf</string>
		<string>KSF_P139.ttf</string>
		<string>KSF_P140.ttf</string>
		<string>KSF_P141.ttf</string>
		<string>KSF_P142.ttf</string>
		<string>KSF_P143.ttf</string>
		<string>KSF_P144.ttf</string>
		<string>KSF_P145.ttf</string>
		<string>KSF_P146.ttf</string>
		<string>KSF_P147.ttf</string>
		<string>KSF_P148.ttf</string>
		<string>KSF_P149.ttf</string>
		<string>KSF_P150.ttf</string>
		<string>KSF_P151.ttf</string>
		<string>KSF_P152.ttf</string>
		<string>KSF_P153.ttf</string>
		<string>KSF_P154.ttf</string>
		<string>KSF_P155.ttf</string>
		<string>KSF_P156.ttf</string>
		<string>KSF_P157.ttf</string>
		<string>KSF_P158.ttf</string>
		<string>KSF_P159.ttf</string>
		<string>KSF_P160.ttf</string>
		<string>KSF_P161.ttf</string>
		<string>KSF_P162.ttf</string>
		<string>KSF_P163.ttf</string>
		<string>KSF_P164.ttf</string>
		<string>KSF_P165.ttf</string>
		<string>KSF_P166.ttf</string>
		<string>KSF_P167.ttf</string>
		<string>KSF_P168.ttf</string>
		<string>KSF_P169.ttf</string>
		<string>KSF_P170.ttf</string>
		<string>KSF_P171.ttf</string>
		<string>KSF_P172.ttf</string>
		<string>KSF_P173.ttf</string>
		<string>KSF_P174.ttf</string>
		<string>KSF_P175.ttf</string>
		<string>KSF_P176.ttf</string>
		<string>KSF_P177.ttf</string>
		<string>KSF_P178.ttf</string>
		<string>KSF_P179.ttf</string>
		<string>KSF_P180.ttf</string>
		<string>KSF_P181.ttf</string>
		<string>KSF_P182.ttf</string>
		<string>KSF_P183.ttf</string>
		<string>KSF_P184.ttf</string>
		<string>KSF_P185.ttf</string>
		<string>KSF_P186.ttf</string>
		<string>KSF_P187.ttf</string>
		<string>KSF_P188.ttf</string>
		<string>KSF_P189.ttf</string>
		<string>KSF_P190.ttf</string>
		<string>KSF_P191.ttf</string>
		<string>KSF_P192.ttf</string>
		<string>KSF_P193.ttf</string>
		<string>KSF_P194.ttf</string>
		<string>KSF_P195.ttf</string>
		<string>KSF_P196.ttf</string>
		<string>KSF_P197.ttf</string>
		<string>KSF_P198.ttf</string>
		<string>KSF_P199.ttf</string>
		<string>KSF_P200.ttf</string>
		<string>KSF_P201.ttf</string>
		<string>KSF_P202.ttf</string>
		<string>KSF_P203.ttf</string>
		<string>KSF_P204.ttf</string>
		<string>KSF_P205.ttf</string>
		<string>KSF_P206.ttf</string>
		<string>KSF_P207.ttf</string>
		<string>KSF_P208.ttf</string>
		<string>KSF_P209.ttf</string>
		<string>KSF_P210.ttf</string>
		<string>KSF_P211.ttf</string>
		<string>KSF_P212.ttf</string>
		<string>KSF_P213.ttf</string>
		<string>KSF_P214.ttf</string>
		<string>KSF_P215.ttf</string>
		<string>KSF_P216.ttf</string>
		<string>KSF_P217.ttf</string>
		<string>KSF_P218.ttf</string>
		<string>KSF_P219.ttf</string>
		<string>KSF_P220.ttf</string>
		<string>KSF_P221.ttf</string>
		<string>KSF_P222.ttf</string>
		<string>KSF_P223.ttf</string>
		<string>KSF_P224.ttf</string>
		<string>KSF_P225.ttf</string>
		<string>KSF_P226.ttf</string>
		<string>KSF_P227.ttf</string>
		<string>KSF_P228.ttf</string>
		<string>KSF_P229.ttf</string>
		<string>KSF_P230.ttf</string>
		<string>KSF_P231.ttf</string>
		<string>KSF_P232.ttf</string>
		<string>KSF_P233.ttf</string>
		<string>KSF_P234.ttf</string>
		<string>KSF_P235.ttf</string>
		<string>KSF_P236.ttf</string>
		<string>KSF_P237.ttf</string>
		<string>KSF_P238.ttf</string>
		<string>KSF_P239.ttf</string>
		<string>KSF_P240.ttf</string>
		<string>KSF_P241.ttf</string>
		<string>KSF_P242.ttf</string>
		<string>KSF_P243.ttf</string>
		<string>KSF_P244.ttf</string>
		<string>KSF_P245.ttf</string>
		<string>KSF_P246.ttf</string>
		<string>KSF_P247.ttf</string>
		<string>KSF_P248.ttf</string>
		<string>KSF_P249.ttf</string>
		<string>KSF_P250.ttf</string>
		<string>KSF_P251.ttf</string>
		<string>KSF_P252.ttf</string>
		<string>KSF_P253.ttf</string>
		<string>KSF_P254.ttf</string>
		<string>KSF_P255.ttf</string>
		<string>KSF_P256.ttf</string>
		<string>KSF_P257.ttf</string>
		<string>KSF_P258.ttf</string>
		<string>KSF_P259.ttf</string>
		<string>KSF_P260.ttf</string>
		<string>KSF_P261.ttf</string>
		<string>KSF_P262.ttf</string>
		<string>KSF_P263.ttf</string>
		<string>KSF_P264.ttf</string>
		<string>KSF_P265.ttf</string>
		<string>KSF_P266.ttf</string>
		<string>KSF_P267.ttf</string>
		<string>KSF_P268.ttf</string>
		<string>KSF_P269.ttf</string>
		<string>KSF_P270.ttf</string>
		<string>KSF_P271.ttf</string>
		<string>KSF_P272.ttf</string>
		<string>KSF_P273.ttf</string>
		<string>KSF_P274.ttf</string>
		<string>KSF_P275.ttf</string>
		<string>KSF_P276.ttf</string>
		<string>KSF_P277.ttf</string>
		<string>KSF_P278.ttf</string>
		<string>KSF_P279.ttf</string>
		<string>KSF_P280.ttf</string>
		<string>KSF_P281.ttf</string>
		<string>KSF_P282.ttf</string>
		<string>KSF_P283.ttf</string>
		<string>KSF_P284.ttf</string>
		<string>KSF_P285.ttf</string>
		<string>KSF_P286.ttf</string>
		<string>KSF_P287.ttf</string>
		<string>KSF_P288.ttf</string>
		<string>KSF_P289.ttf</string>
		<string>KSF_P290.ttf</string>
		<string>KSF_P291.ttf</string>
		<string>KSF_P292.ttf</string>
		<string>KSF_P293.ttf</string>
		<string>KSF_P294.ttf</string>
		<string>KSF_P295.ttf</string>
		<string>KSF_P296.ttf</string>
		<string>KSF_P297.ttf</string>
		<string>KSF_P298.ttf</string>
		<string>KSF_P299.ttf</string>
		<string>KSF_P300.ttf</string>
		<string>KSF_P301.ttf</string>
		<string>KSF_P302.ttf</string>
		<string>KSF_P303.ttf</string>
		<string>KSF_P304.ttf</string>
		<string>KSF_P305.ttf</string>
		<string>KSF_P306.ttf</string>
		<string>KSF_P307.ttf</string>
		<string>KSF_P308.ttf</string>
		<string>KSF_P309.ttf</string>
		<string>KSF_P310.ttf</string>
		<string>KSF_P311.ttf</string>
		<string>KSF_P312.ttf</string>
		<string>KSF_P313.ttf</string>
		<string>KSF_P314.ttf</string>
		<string>KSF_P315.ttf</string>
		<string>KSF_P316.ttf</string>
		<string>KSF_P317.ttf</string>
		<string>KSF_P318.ttf</string>
		<string>KSF_P319.ttf</string>
		<string>KSF_P320.ttf</string>
		<string>KSF_P321.ttf</string>
		<string>KSF_P322.ttf</string>
		<string>KSF_P323.ttf</string>
		<string>KSF_P324.ttf</string>
		<string>KSF_P325.ttf</string>
		<string>KSF_P326.ttf</string>
		<string>KSF_P327.ttf</string>
		<string>KSF_P328.ttf</string>
		<string>KSF_P329.ttf</string>
		<string>KSF_P330.ttf</string>
		<string>KSF_P331.ttf</string>
		<string>KSF_P332.ttf</string>
		<string>KSF_P333.ttf</string>
		<string>KSF_P334.ttf</string>
		<string>KSF_P335.ttf</string>
		<string>KSF_P336.ttf</string>
		<string>KSF_P337.ttf</string>
		<string>KSF_P338.ttf</string>
		<string>KSF_P339.ttf</string>
		<string>KSF_P340.ttf</string>
		<string>KSF_P341.ttf</string>
		<string>KSF_P342.ttf</string>
		<string>KSF_P343.ttf</string>
		<string>KSF_P344.ttf</string>
		<string>KSF_P345.ttf</string>
		<string>KSF_P346.ttf</string>
		<string>KSF_P347.ttf</string>
		<string>KSF_P348.ttf</string>
		<string>KSF_P349.ttf</string>
		<string>KSF_P350.ttf</string>
		<string>KSF_P351.ttf</string>
		<string>KSF_P352.ttf</string>
		<string>KSF_P353.ttf</string>
		<string>KSF_P354.ttf</string>
		<string>KSF_P355.ttf</string>
		<string>KSF_P356.ttf</string>
		<string>KSF_P357.ttf</string>
		<string>KSF_P358.ttf</string>
		<string>KSF_P359.ttf</string>
		<string>KSF_P360.ttf</string>
		<string>KSF_P361.ttf</string>
		<string>KSF_P362.ttf</string>
		<string>KSF_P363.ttf</string>
		<string>KSF_P364.ttf</string>
		<string>KSF_P365.ttf</string>
		<string>KSF_P366.ttf</string>
		<string>KSF_P367.ttf</string>
		<string>KSF_P368.ttf</string>
		<string>KSF_P369.ttf</string>
		<string>KSF_P370.ttf</string>
		<string>KSF_P371.ttf</string>
		<string>KSF_P372.ttf</string>
		<string>KSF_P373.ttf</string>
		<string>KSF_P374.ttf</string>
		<string>KSF_P375.ttf</string>
		<string>KSF_P376.ttf</string>
		<string>KSF_P377.ttf</string>
		<string>KSF_P378.ttf</string>
		<string>KSF_P379.ttf</string>
		<string>KSF_P380.ttf</string>
		<string>KSF_P381.ttf</string>
		<string>KSF_P382.ttf</string>
		<string>KSF_P383.ttf</string>
		<string>KSF_P384.ttf</string>
		<string>KSF_P385.ttf</string>
		<string>KSF_P386.ttf</string>
		<string>KSF_P387.ttf</string>
		<string>KSF_P388.ttf</string>
		<string>KSF_P389.ttf</string>
		<string>KSF_P390.ttf</string>
		<string>KSF_P391.ttf</string>
		<string>KSF_P392.ttf</string>
		<string>KSF_P393.ttf</string>
		<string>KSF_P394.ttf</string>
		<string>KSF_P395.ttf</string>
		<string>KSF_P396.ttf</string>
		<string>KSF_P397.ttf</string>
		<string>KSF_P398.ttf</string>
		<string>KSF_P399.ttf</string>
		<string>KSF_P400.ttf</string>
		<string>KSF_P401.ttf</string>
		<string>KSF_P402.ttf</string>
		<string>KSF_P403.ttf</string>
		<string>KSF_P404.ttf</string>
		<string>KSF_P405.ttf</string>
		<string>KSF_P406.ttf</string>
		<string>KSF_P407.ttf</string>
		<string>KSF_P408.ttf</string>
		<string>KSF_P409.ttf</string>
		<string>KSF_P410.ttf</string>
		<string>KSF_P411.ttf</string>
		<string>KSF_P412.ttf</string>
		<string>KSF_P413.ttf</string>
		<string>KSF_P414.ttf</string>
		<string>KSF_P415.ttf</string>
		<string>KSF_P416.ttf</string>
		<string>KSF_P417.ttf</string>
		<string>KSF_P418.ttf</string>
		<string>KSF_P419.ttf</string>
		<string>KSF_P420.ttf</string>
		<string>KSF_P421.ttf</string>
		<string>KSF_P422.ttf</string>
		<string>KSF_P423.ttf</string>
		<string>KSF_P424.ttf</string>
		<string>KSF_P425.ttf</string>
		<string>KSF_P426.ttf</string>
		<string>KSF_P427.ttf</string>
		<string>KSF_P428.ttf</string>
		<string>KSF_P429.ttf</string>
		<string>KSF_P430.ttf</string>
		<string>KSF_P431.ttf</string>
		<string>KSF_P432.ttf</string>
		<string>KSF_P433.ttf</string>
		<string>KSF_P434.ttf</string>
		<string>KSF_P435.ttf</string>
		<string>KSF_P436.ttf</string>
		<string>KSF_P437.ttf</string>
		<string>KSF_P438.ttf</string>
		<string>KSF_P439.ttf</string>
		<string>KSF_P440.ttf</string>
		<string>KSF_P441.ttf</string>
		<string>KSF_P442.ttf</string>
		<string>KSF_P443.ttf</string>
		<string>KSF_P444.ttf</string>
		<string>KSF_P445.ttf</string>
		<string>KSF_P446.ttf</string>
		<string>KSF_P447.ttf</string>
		<string>KSF_P448.ttf</string>
		<string>KSF_P449.ttf</string>
		<string>KSF_P450.ttf</string>
		<string>KSF_P451.ttf</string>
		<string>KSF_P452.ttf</string>
		<string>KSF_P453.ttf</string>
		<string>KSF_P454.ttf</string>
		<string>KSF_P455.ttf</string>
		<string>KSF_P456.ttf</string>
		<string>KSF_P457.ttf</string>
		<string>KSF_P458.ttf</string>
		<string>KSF_P459.ttf</string>
		<string>KSF_P460.ttf</string>
		<string>KSF_P461.ttf</string>
		<string>KSF_P462.ttf</string>
		<string>KSF_P463.ttf</string>
		<string>KSF_P464.ttf</string>
		<string>KSF_P465.ttf</string>
		<string>KSF_P466.ttf</string>
		<string>KSF_P467.ttf</string>
		<string>KSF_P468.ttf</string>
		<string>KSF_P469.ttf</string>
		<string>KSF_P470.ttf</string>
		<string>KSF_P471.ttf</string>
		<string>KSF_P472.ttf</string>
		<string>KSF_P473.ttf</string>
		<string>KSF_P474.ttf</string>
		<string>KSF_P475.ttf</string>
		<string>KSF_P476.ttf</string>
		<string>KSF_P477.ttf</string>
		<string>KSF_P478.ttf</string>
		<string>KSF_P479.ttf</string>
		<string>KSF_P480.ttf</string>
		<string>KSF_P481.ttf</string>
		<string>KSF_P482.ttf</string>
		<string>KSF_P483.ttf</string>
		<string>KSF_P484.ttf</string>
		<string>KSF_P485.ttf</string>
		<string>KSF_P486.ttf</string>
		<string>KSF_P487.ttf</string>
		<string>KSF_P488.ttf</string>
		<string>KSF_P489.ttf</string>
		<string>KSF_P490.ttf</string>
		<string>KSF_P491.ttf</string>
		<string>KSF_P492.ttf</string>
		<string>KSF_P493.ttf</string>
		<string>KSF_P494.ttf</string>
		<string>KSF_P495.ttf</string>
		<string>KSF_P496.ttf</string>
		<string>KSF_P497.ttf</string>
		<string>KSF_P498.ttf</string>
		<string>KSF_P499.ttf</string>
		<string>KSF_P500.ttf</string>
		<string>KSF_P501.ttf</string>
		<string>KSF_P502.ttf</string>
		<string>KSF_P503.ttf</string>
		<string>KSF_P504.ttf</string>
		<string>KSF_P505.ttf</string>
		<string>KSF_P506.ttf</string>
		<string>KSF_P507.ttf</string>
		<string>KSF_P508.ttf</string>
		<string>KSF_P509.ttf</string>
		<string>KSF_P510.ttf</string>
		<string>KSF_P511.ttf</string>
		<string>KSF_P512.ttf</string>
		<string>KSF_P513.ttf</string>
		<string>KSF_P514.ttf</string>
		<string>KSF_P515.ttf</string>
		<string>KSF_P516.ttf</string>
		<string>KSF_P517.ttf</string>
		<string>KSF_P518.ttf</string>
		<string>KSF_P519.ttf</string>
		<string>KSF_P520.ttf</string>
		<string>KSF_P521.ttf</string>
		<string>KSF_P522.ttf</string>
		<string>KSF_P523.ttf</string>
		<string>KSF_P524.ttf</string>
		<string>KSF_P525.ttf</string>
		<string>KSF_P526.ttf</string>
		<string>KSF_P527.ttf</string>
		<string>KSF_P528.ttf</string>
		<string>KSF_P529.ttf</string>
		<string>KSF_P530.ttf</string>
		<string>KSF_P531.ttf</string>
		<string>KSF_P532.ttf</string>
		<string>KSF_P533.ttf</string>
		<string>KSF_P534.ttf</string>
		<string>KSF_P535.ttf</string>
		<string>KSF_P536.ttf</string>
		<string>KSF_P537.ttf</string>
		<string>KSF_P538.ttf</string>
		<string>KSF_P539.ttf</string>
		<string>KSF_P540.ttf</string>
		<string>KSF_P541.ttf</string>
		<string>KSF_P542.ttf</string>
		<string>KSF_P543.ttf</string>
		<string>KSF_P544.ttf</string>
		<string>KSF_P545.ttf</string>
		<string>KSF_P546.ttf</string>
		<string>KSF_P547.ttf</string>
		<string>KSF_P548.ttf</string>
		<string>KSF_P549.ttf</string>
		<string>KSF_P550.ttf</string>
		<string>KSF_P551.ttf</string>
		<string>KSF_P552.ttf</string>
		<string>KSF_P553.ttf</string>
		<string>KSF_P554.ttf</string>
		<string>KSF_P555.ttf</string>
		<string>KSF_P556.ttf</string>
		<string>KSF_P557.ttf</string>
		<string>KSF_P558.ttf</string>
		<string>KSF_P559.ttf</string>
		<string>KSF_P560.ttf</string>
		<string>KSF_P561.ttf</string>
		<string>KSF_P562.ttf</string>
		<string>KSF_P563.ttf</string>
		<string>KSF_P564.ttf</string>
		<string>KSF_P565.ttf</string>
		<string>KSF_P566.ttf</string>
		<string>KSF_P567.ttf</string>
		<string>KSF_P568.ttf</string>
		<string>KSF_P569.ttf</string>
		<string>KSF_P570.ttf</string>
		<string>KSF_P571.ttf</string>
		<string>KSF_P572.ttf</string>
		<string>KSF_P573.ttf</string>
		<string>KSF_P574.ttf</string>
		<string>KSF_P575.ttf</string>
		<string>KSF_P576.ttf</string>
		<string>KSF_P577.ttf</string>
		<string>KSF_P578.ttf</string>
		<string>KSF_P579.ttf</string>
		<string>KSF_P580.ttf</string>
		<string>KSF_P581.ttf</string>
		<string>KSF_P582.ttf</string>
		<string>KSF_P583.ttf</string>
		<string>KSF_P584.ttf</string>
		<string>KSF_P585.ttf</string>
		<string>KSF_P586.ttf</string>
		<string>KSF_P587.ttf</string>
		<string>KSF_P588.ttf</string>
		<string>KSF_P589.ttf</string>
		<string>KSF_P590.ttf</string>
		<string>KSF_P591.ttf</string>
		<string>KSF_P592.ttf</string>
		<string>KSF_P593.ttf</string>
		<string>KSF_P594.ttf</string>
		<string>KSF_P595.ttf</string>
		<string>KSF_P596.ttf</string>
		<string>KSF_P597.ttf</string>
		<string>KSF_P598.ttf</string>
		<string>KSF_P599.ttf</string>
		<string>KSF_P600.ttf</string>
		<string>KSF_P601.ttf</string>
		<string>KSF_P602.ttf</string>
		<string>KSF_P603.ttf</string>
		<string>KSF_P604.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
